@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;700&display=swap");

main {
  text-align: center;
  margin-top: 200px;
}

header {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-left: 50px;
  padding-bottom: 40px;
  border-bottom: 0.1px solid rgb(226, 222, 222);
}

header p {
  font-family: "Montserrat", sans-serif;
  padding-left: 30px;
  font-size: 48px;
  line-height: 60px;
}

.list-counter {
  display: flex;
  justify-content: center;
}

.list-counter button {
  background-color: white;
  border: none;
  font-size: 70px;
  margin: 0px 40px;
}

.counter {
  width: 150px;
  height: 150px;
  font-size: 96px;
  line-height: 117px;
  font-family: "Montserrat", sans-serif;
  padding: 17px 43px 16px 43px;
  background-color: #5c48d3;
  color: white;
  border-radius: 10px;
}

.reset {
  margin-top: 50px;
  font-size: 32px;
  line-height: 40px;
  font-family: "Montserrat", sans-serif;
  padding: 10px 26px 11px 30px;
  border-radius: 10px;
  background-color: #5c48d3;
  color: white;
}
